In [21]:
print("""Twinkle, twinkle, little star,
         How I wonder what you are!
              Up above the world so high,
              Like a diamond in the sky.
Twinkle, twinkle, little star,
         How I wonder what you are!""")

Twinkle, twinkle, little star,
         How I wonder what you are!
              Up above the world so high,
              Like a diamond in the sky.
Twinkle, twinkle, little star,
         How I wonder what you are!

In [29]:
import sys
print(sys.version)

3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]

In [35]:
from datetime import datetime
date = datetime.now()
print(date)

Current date and time: 2024-08-02 14:49:27.565192

In [65]:
print("Enter the radius of circle")
radius = float(input())
area = 3.14159 * radius * radius
print(area)

Enter the radius of circle

 3

The area of the circle is: 28.274309999999996

In [73]:
first_name = input("Enter user's first name: ")
last_name = input("Enter user's last name: ")
print(last_name+" "+first_name)

Enter user's first name:  Farhan
Enter user's last name:  Hassan

Hassan Farhan

In [77]:
print("Enter First Number")
first_no = float(input())
print("Enter Second Number")
second_no = float(input())
total=first_no+second_no
print(total)

Enter First Number

 4

Enter Second Number

 4

8.0

In [91]:
print("Enter marks for subject 1:")
mark1 = float(input())
print("Enter marks for subject 2:")
mark1 = float(input())
print("Enter marks for subject 3:")
mark1 = float(input())
print("Enter marks for subject 4:")
mark1 = float(input())
print("Enter marks for subject 5:")
mark1 = float(input())
total = mark1 + mark2 + mark3 + mark4 + mark5
average = total / 5
if average >= 90:
    grade = 'A'
elif average >= 80:
    grade = 'B'
elif average >= 70:
    grade = 'C'
elif average >= 60:
    grade = 'D'
else:
    grade = 'F'
print("Mark Sheet")
print("Total Marks:", total)
print("Grade:", grade)

Enter marks for subject 1:

 88

Enter marks for subject 2:

 66

Enter marks for subject 3:

 77

Enter marks for subject 4:

 70

Enter marks for subject 5:

 81

Mark Sheet
Total Marks: 468.0
Grade: A

In [97]:
print("Enter a number: ")
number = int(input())

if number % 2 == 0:
     print(f"{number} is even")
else:
     print(f"{number} is odd")

Enter a number:

 4

4 is even

In [99]:
fruit = ["orange", "apple", "banana" , "mango", "grapes"]

print("Length of the list is ", len(fruit))

Length of the list is 5

In [101]:

number = [4, 5, 12, 7, 20,1]
maxnumber = max(number)
print("The largest number in the list is ", maxnumber)

The largest number in the list is  20

In [107]:
number = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
print("All the elements of the list that are less than 5.")
for value in number:
    if value < 5:
        print(value)

All the elements of the list that are less than 5.
1
1
2
3